.amount-left {
  padding-left: 50px;
  padding-right: 50px;

  p {
    display: flex;
    justify-content: space-between;

    &.difference-display {
      strong {
        color: $red;
      }
    }
  }

  strong {
    color: $primary-color-1;
  }
}
