.amount-left {
  padding-left: 40px;
  padding-right: 40px;

  p {
    display: flex;
    justify-content: space-between;
  }

  strong {
    color: $primary-color-1;

    .difference-display {
      color: $red;
    }
  }
}
