// typography
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

h1,
h2 {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  text-align: center;
  color: #003840;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

.App,
input,
button {
  font-family: 'Roboto Mono', monospace;
}

// general
* {
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0 0 10px 0;
}

h1.section-bg {
  padding: 0;
}

strong {
  font-size: 20px;
}

section {
  width: 100%;
}

p {
  margin: 11px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

form,
li {
  display: flex;
}

form {
  height: 40px;
  padding-left: 40px;
}

input {
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: transparent;
  border: 0;
  padding: 0;

  &[type='number'] {
    text-align: right;
  }
}

.button-group {
  display: flex;
  justify-content: space-between;
}

button {
  height: 100%;
  font-size: 16px;
  background: transparent;
  border: 0;
  border-radius: 4px;

  &.remove,
  &.add,
  &.dropdown {
    flex: 0 0 auto;
    width: 40px;
    padding: 0;
  }

  svg {
    width: 20px !important;
    height: 20px !important;
  }

  &.primary {
    color: $white;
    background: $primary-color-3;
    padding: 11px 20px;
  }
}

svg {
  color: $primary-color-3;
}

.heading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: $primary-color-3;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: 20px;

  svg {
    width: 30px !important;
    height: 30px;
    color: $white;
  }
}

.hide {
  visibility: hidden;
}

.none {
  display: none;
}

// sections
.App {
  background: linear-gradient(45deg, $primary-color-1a, $primary-color-5a);
  background-attachment: fixed;
}

.section-bg {
  max-width: 360px;
  background-color: $white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  padding: 20px 10px;
  margin: 0 auto 60px;
  position: relative;
  @include jagged-top;
  @include jagged-bottom;
}
