.header {
  padding: 0 10px;

  &::before {
    display: none;
  }

  .button-group {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
  }
}

// tour
#___reactour {
  .reactour__helper {
    padding: 20px 30px;
  }

  span[data-tour-elem='badge'] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    box-shadow: none;
    padding: 0;
    top: -15px;
    left: 10px;
  }

  .reactour__close,
  button[data-tour-elem='left-arrow'],
  button[data-tour-elem='right-arrow'] {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    background: $primary-color-3;
    border-radius: 50%;

    svg {
      color: $white;
    }
  }

  .reactour__close {
    top: 10px;
    right: 10px;
  }

  div[data-tour-elem='controls'] {
    margin-top: 10px;
  }

  button[data-tour-elem='dot'] {
    width: 16px;
    height: 16px;
  }

  .button-group {
    button {
      display: flex;
      align-items: center;
      margin: 0 4px;
    }

    span {
      margin-right: 8px;
    }

    svg {
      width: 20px !important;
      height: 20px !important;
      color: $white;

      &[data-icon='android'] {
        padding-top: 2px;
      }
    }
  }
}
