.header {
  padding: 0 10px;

  &::before {
    display: none;
  }

  .button-group {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
  }
}

.ReactModalPortal {
  .ReactModal__Overlay {
    opacity: 0;
    transition: opacity 600ms;
  }

  .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  .ReactModal__Overlay--before-close {
    opacity: 0;
  }

  .overlay {
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }

  .modal {
    max-width: 300px;
    overflow: auto;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 2px 2px #fff;
    padding: 20px;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
  }

  button.action {
    position: absolute;
    top: 0;
    right: 0;
  }
}
