.people {
  padding-bottom: 0;

  p {
    display: flex;
    justify-content: space-between;
  }

  .person-details {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .person-name {
    display: flex;
    height: 40px;
    position: relative;
    @include underline-left;
  }

  .accordion-icon {
    transition: transform 0.8s;

    &.active {
      transform: rotate(90deg);
    }
  }

  .person-total {
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    li {
      display: block;
      margin: 10px 0;

      div:nth-child(2) {
        text-align: right;
      }
    }
  }

  .accordion-content {
    overflow: hidden;
    transition: max-height 0.8s;
  }

  .primary {
    margin: auto;
  }

  form {
    position: relative;
    @include underline-left;
  }
}
