.receipt {
  .select-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53px;
    padding: 0 10px;
    margin-bottom: 10px;

    button {
      height: auto;
    }
  }

  li {
    align-items: center;
    justify-content: space-between;
    height: 40px;

    &.tax-tip {
      position: relative;
      @include underline-right;
      &::after {
        right: 0;
      }

      span {
        margin-right: 20px;
      }
    }
  }

  .item-list li,
  form {
    position: relative;
    @include underline-left;
    @include underline-right;
  }

  .item-list li {
    &.item-unselected {
      &::before,
      &::after {
        background: $red;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .primary {
      width: 26%;
      margin: 0 4px;
    }
  }

  .item-total {
    padding: 0 40px;
  }
}
