.receipt {
  .select-items {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 53px;
    padding: 0 10px;
    margin-bottom: 10px;

    p {
      margin: 0;
    }

    button {
      height: auto;
      margin-left: 10px;
    }
  }

  li {
    align-items: center;
    justify-content: space-between;
    height: 40px;

    &.tax-tip {
      height: 80px;
      padding-left: 10px;
      position: relative;
      @include underline-left;
      @include underline-right;

      &::before {
        right: 0;
        bottom: 40px;
        left: auto;
      }

      &::after {
        right: 0;
      }

      > * {
        display: flex;
        flex-direction: column;
      }

      form {
        height: 80px;
      }

      span,
      input {
        height: 40px;
      }

      span {
        display: flex;
        align-items: center;
        margin-right: 20px;
      }
    }

    &.total {
      padding: 0 10px;
    }
  }

  .item-list li,
  form.new-form {
    position: relative;
    @include underline-left;
    @include underline-right;
  }

  .item-list li {
    &.item-unselected {
      &::before,
      &::after {
        background: $red;
      }
    }
  }

  .button-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .primary {
      width: 26%;
      margin: 0 4px;
    }
  }

  .item-total {
    padding: 10px 40px 0;
  }
}
