.App {
  background-attachment: fixed;

  &.theme-1 {
    background-image: linear-gradient(
      45deg,
      $primary-color-1a,
      $primary-color-5a
    );

    section {
      @include jagged-top;
      @include jagged-bottom;
    }
  }

  &.theme-2 {
    background-image: url(../../images/wood.jpg);

    section {
      @include torn-top;
      @include torn-bottom;
      @include torn-sections;
    }
  }
}
